body, html {
    margin: 0;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
header {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid black;
    background-color: white;
    display: block;
}
header .desktop {
    display: flex;
    align-items: center;
    padding-left: 25px;
}
header h1 {
    flex: 1;
}
header a {
    text-decoration: none;
    color: black;
}
header nav ul {
    list-style: none;
    display: flex;
}
header nav a {
    vertical-align: bottom;
    font-size: 26px;
    margin: 25px;
}
/* HEADER TODO */
/* UNDER 1000 PIXELS NEEDS A NEW NAV BAR */
/* Setup background images for scrolling */
.background {
    height: 100vh;
    background-attachment: fixed;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#intro {
    background-image: url('../images/background-1.jpg');
}
#mission {
    background-image: url('../images/background-2.jpg');
}
#clients {
    background-image: url('../images/background-3.jpg');
}
#team {
    background-image: url('../images/background-4.jpg');
}
/*  */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    max-width: 75%;
}
p {
    font-size: 1.5rem;
}
.client-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}
.client {
    border: 1px solid black;
    flex: 1;
    margin: 20px;
}
.client h4 {
    background-color: white;
    border: 1px solid black;
}
.member-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
}
.member {
    display: flex;
    flex-flow: column;
    margin: 10px;
}
.member-container div {
    flex-shrink: 1;
}
.member-container div img {
    width: 100%;
    height: auto;
}